[Unit]
Description=Internet PVR for your TV Shows

[Service]
ExecStart=/usr/bin/python2 {{ sickbeard_dir }}/SickBeard.py --daemon --pidfile {{ sickbeard_pidfile }} --datadir {{ sickbeard_dir }}/data --nolaunch --config {{ sickbeard_dir }}/config.ini --port {{ sickbeard_port }}
PIDFile={{ sickbeard_pidfile }}
Type=forking
User={{ sickbeard_user }}
Group={{ sickbeard_group }}

[Install]
WantedBy=multi-user.target